@media screen and (min-width: 320px) and (max-width: 580px) {
  .bn_top_menu,
  .index_floor,
  .bn_btn,
  .index_menu,
  .pd_left,
  .pd_right {
    display: none !important;
  }
  .m_bn_ham_btn {
    display: block !important;
  }
  .bn_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new_photos {
    width: 2400px;
    height: 235px;
    background-color: none;
  }
  .quick_ol {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  .quick_ol > li {
    width: 100% !important;
    max-width: 95% !important;
  }
  .copy_ul {
    line-height: 15px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .copy_ul > li {
    margin-left: 7px;
  }
  .copyright_text > span {
    text-align: center;
    font-size: 1vw;
  }
  .copyright_text > span:nth-child(1) {
    width: 100% !important;
  }
  .copyright_text > span:nth-child(2), .copyright_text > span:nth-child(3) {
    width: 50% !important;
  }
  .copyright_text > span > ol {
    margin: 0 auto;
  }
  .copyright_text > span > ol > li {
    line-height: unset;
    font-size: 1vw;
    height: auto;
  }
  .copyright_text > span > ol > li:nth-child(1) {
    font-size: 2vw;
  }
  .copyright_text > span > ol > li > span {
    font-size: 1.5vw !important;
  }
}

@media screen and (min-width: 581px) and (max-width: 784px) {
  .bn_top_menu,
  .index_floor,
  .bn_btn,
  .index_menu,
  .pd_left,
  .pd_right {
    display: none !important;
  }
  .m_bn_ham_btn {
    display: block !important;
  }
  .bn_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quick_ol {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  .quick_ol > li {
    width: 100% !important;
    max-width: 95% !important;
  }
  .copy_ul {
    line-height: 15px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .copy_ul > li {
    margin-left: 7px;
  }
  .copyright_text > span {
    text-align: center;
    font-size: 1vw;
  }
  .copyright_text > span:nth-child(1) {
    width: 100% !important;
  }
  .copyright_text > span:nth-child(2), .copyright_text > span:nth-child(3) {
    width: 50% !important;
  }
  .copyright_text > span > ol {
    margin: 0 auto;
  }
  .copyright_text > span > ol > li {
    line-height: unset;
    font-size: 1vw;
    height: auto;
  }
  .copyright_text > span > ol > li:nth-child(1) {
    font-size: 2vw;
  }
  .copyright_text > span > ol > li > span {
    font-size: 1.5vw !important;
  }
}
/*# sourceMappingURL=hello_m.css.map */