img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

fieldset {
  margin: 0;
  padding: 0;
}

.pd_bestitem {
  width: 1178px;
  height: 32px;
  border: none;
  margin-bottom: 20px;
  position: relative;
}

.pd_bestitem legend {
  width: inherit;
  height: 300px;
  position: relative;
}

#pd_bestitem_btn {
  width: inherit;
  height: 50px;
  line-height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
}

#pd_bestitem_btn > li > img {
  cursor: pointer;
}

#pd_bestitem_btn > li:nth-of-type(2) {
  width: 50px;
  height: 50px;
  margin-right: 5%;
}

#pd_bestitem_btn > li:nth-of-type(1) {
  width: 50px;
  height: 50px;
  margin-left: 5%;
}

#pd_bestitem_list {
  width: 1100px;
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#pd_bestitem_list > li {
  width: 210px;
  height: 210px;
  margin-top: 15px;
}

#pd_bestitem_list_view {
  width: 1110px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

#pd_bestitem_list_view > li {
  width: 210px;
  height: 100%;
  margin-right: 15px;
}

#pd_bestitem_list_view > li > img {
  width: 210px;
  height: 210px;
}

#pd_weekly_title {
  width: 1178px;
  height: 32px;
  border: none;
  margin-bottom: 20px;
  margin-top: 450px;
}

.pd_span {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#pd_weekly {
  width: 100%;
  height: auto;
  padding-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 250px;
}

.pd_ulcss {
  width: 360px;
  height: 500px;
  text-align: center;
  margin-bottom: 40px;
}

.pd_ulcss > li:nth-of-type(1) {
  width: 360px;
  height: 360px;
}

.pd_ulcss > li:nth-of-type(1) > img {
  width: inherit;
  height: 360px;
}

.pd_ulcss > li:nth-of-type(2) {
  width: 360px;
  height: 30px;
}

.pd_ulcss > li:nth-of-type(2) > img {
  width: 48px;
  height: 16px;
}

.pd_ulcss > li:nth-of-type(3) {
  width: 360px;
  height: 40px;
  font-size: 16px;
  color: #040404;
}

.pd_ulcss > li:nth-of-type(4) {
  width: 360px;
  height: 65px;
  font-size: 12px;
  color: #737373;
}

.pd_ulcss > li:nth-of-type(5) {
  width: 360px;
  height: 20px;
  font-size: 12px;
  color: #a6a6a6;
}

.pd_ulcss > li:nth-of-type(6) {
  width: 360px;
  height: 25px;
  font-size: 16px;
  color: #000000;
}

#instagram_title > img {
  width: 1178px;
  height: 32px;
  border: none;
  margin-bottom: 30px;
  margin-top: 30px;
}

#pd_instagram {
  width: 1100px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}

#pd_instagram > li {
  width: 1110px;
  height: 160px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}

#pd_instagram_view {
  width: 1520px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

#pd_instagram_view > li {
  width: 160px;
  height: 100%;
  margin-right: 30px;
}

#pd_instagram_view > li > img {
  width: 160px;
  height: 160px;
}
/*# sourceMappingURL=shop_product.css.map */