@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
/* font-family: 'Nanum Gothic', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
div,
span,
label,
section,
aside,
footer,
header,
nav,
video,
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Noto Sans KR", sans-serif;
  -ms-text-size-adjust: 100%; /*IE*/
  -webkit-text-size-adjust: 100%; /*chrome,safari*/
  -o-text-size-adjust: 100%; /*opera*/
  -moz-text-size-adjust: 100%; /*firefox*/
}
a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}
a:active,
a:hover {
  outline: 0;
}
a:visited {
  text-decoration: none;
}
input,
textarea {
  outline: 0;
}
input:focus,
textarea:focus {
  outline: 0;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clear {
  clear: both;
  display: block;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
}
/*로그인*/
.box {
  width: 600px;
  height: auto;
  /* border: 3px solid #303947; */
  padding: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -225px;
  margin-left: -300px;
}
.logo_login {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}
.ids {
  margin-top: 20px;
}
.ids,
.pass {
  text-indent: 10px;
}
.ids,
.pass,
.login {
  width: 550px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.login {
  background-color: #c3222b;
  color: white;
  border: 0;
}
.mid {
  position: relative;
  width: 550px;
  height: 30px;
}
.find {
  cursor: pointer;
  position: absolute;
  right: 0;
}
.bottom {
  width: 550px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
}
img {
  width: 100%;
  object-fit: cover;
}
