@charset "UTF-8";
.member__admin {
  width: 100%;
  height: auto;
  min-height: 600px;
}

/**** 전체목록 ****/
.member__listNo {
  width: 100%;
  height: 40px;
  background-color: rgb(242, 242, 242);
  font-size: 110%;
  font-weight: 400;
}
.member__listNo > label {
  display: block;
  width: 1200px;
  height: inherit;
  line-height: 40px;
  margin: 0 auto;
}
.member__listTotal {
  display: inline-block;
  width: 75px;
  font-weight: 400;
}
.member__listNo > label > span:nth-child(2) {
  display: inline-block;
  padding: 0 25px 0 15px;
}

/**** 회원아이디 검색 ****/
.member__idSearch {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 60px 0 15px 0px;
}
.member__idSearch > input,
.member__idSearch > select {
  height: 30px;
  vertical-align: top;
}
.member__idSearch > input:nth-of-type(1) {
  width: 200px;
  font-size: 90%;
}

/**** 테이블 상단 : 메모 ****/
.member__memo {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  font-size: 100%;
  text-indent: 20px;
  background-color: rgba(112, 140, 132, 0.15);
}

/**** 테이블 ****/
.member__table {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  /* background-color: rgb(242, 242, 242); */
  /* border: 1px solid rgb(166, 166, 166); */
}
.member__table tr {
  height: 35px;
  font-size: 90%;
}
.member__table th {
  font-size: 115%;
  font-weight: 400;
  border-bottom: 1px solid white;
  background-color: #ccc;
}
.member__table tr:nth-child(2) th {
  line-height: 16px;
  padding: 5px;
}

/* 테이블 col 비율 */
.member__table tr:first-child th:nth-of-type(1) {
  width: 3%;
}
.member__table tr:first-child th:nth-of-type(2),
.member__table tr:first-child th:nth-of-type(3) {
  width: 12%;
}
.member__table tr:first-child th:nth-of-type(4) {
  width: 28%;
}
.member__table tr:first-child th:nth-of-type(5),
.member__table tr:first-child th:nth-of-type(6),
.member__table tr:first-child th:nth-of-type(7) {
  width: 10%;
}

/* 테이블 외곽선 */
.member__table td {
  border-bottom: 1px solid #ccc;
}

/* 테이블 text 셋팅 */
.member__name,
.member__nick {
  text-align: left;
  text-indent: 10px;
}
.member__mailVerify {
  color: #c3222b;
}
.member__mailVerify:hover {
  background-color: #88181e;
}
.member__tableList > tr > td:nth-child(4) > label:first-child {
  margin-right: 30px;
}

/**** 테이블 리스트 없음 ****/
.member__tableList {
  display: none;
}
/* .member__tableNone { display: none; } */

/**** 페이지 번호 ****/
.member__page {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.member_ul {
  width: auto;
  height: inherit;
}
.member_ul > li {
  width: 30px;
  height: inherit;
  line-height: 30px;
  text-align: center;
  font-size: 85%;
  float: left;
  background-color: #dbb0a0;
  padding: 0 8px 0 8px;
  margin-left: 5px;
  cursor: pointer;
}
.member_ul > li:last-child {
  margin-right: 0;
}
.member_ul > li:hover {
  background-color: #be9a8d;
}

/**** 버튼 ****/
.member__idSearchBtn {
  width: 100px;
  height: 30px;
  background-color: #c3222b;
  color: white;
  font-size: 90%;
  border: none;
  vertical-align: top;
}
.member__idSearchBtn:hover {
  background-color: #88181e;
}
.member__addMemberBtn,
.member__tableBtns {
  display: block;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  text-align: right;
}
.member__addMemberBtn > button,
.member__tableBtns > button {
  width: 100px;
  height: 30px;
  background-color: #c3222b;
  color: white;
  font-size: 90%;
  border: none;
}
.member__addMemberBtn > button:hover,
.member__tableBtns > button:hover {
  background-color: #88181e;
}
.member__addMemberBtn {
  padding: 15px 0 15px 0;
}
.member__tableBtns {
  padding: 5px 0 15px 0;
}
