<meta charset="UTF-8">
<article class="product_box">
    <div class="product_title">
        <label>상품 관리 리스트</label>
    </div>
    <form name="search" method="GET" action="admin_product.html" enctype="application/x-www-form-urlencoded"
        @submit.prevent="sendsearch">
        <div class="product_search">
            <span>
                <input v-bind:type="t" name="pnm" v-model="word" ref="pnm">
                <input v-bind:type="s" value="상품검색">
                <input v-bind:type="b" value="전체목록" @click="all_list">
            </span>
        </div>
    </form>
    <table class="product_table">
        <thead>
            <tr>
                <th>NO</th>
                <th>상품코드</th>
                <th>상품명</th>
                <th>상품가격</th>
                <th>할인가격</th>
                <th>대표이미지</th>
                <th>출력 유/무</th>
                <th>삭제</th>
            </tr>
        </thead>
        {{lists}}
        <tbody v-if="part==1" v-for="(pd,index) in arrays">
            <tr>
                <td>{{ea-index}}</td>
                <td @click="view_product(pd.pidx)">{{pd.goodsno}}</td>
                <td @click="view_product(pd.pidx)">{{pd.productnm}}</td>
                <td>{{pd.product_money.toLocaleString()}} 원</td>
                <td v-if="pd.product_sales==''"> - </td>
                <td v-else>{{pd.product_sales.toLocaleString()}} 원</td>
                <td><img :src=pd.product_img class="pdimg"></td>
                <td>{{pd.product_use}}</td>
                <td><button type="button" @click="product_del(pd.pidx);">삭제</button></td>
            </tr>
        </tbody>
        <tbody v-else-if="part==2">
            <tr>
                <td colspan="7">등록된 상품이 없습니다.</td>
            </tr>
        </tbody>
    </table>
    <div class="product_page">
        <ul>
            <li v-for="p in pageing" @click="gopage(p);">{{p}}</li>
        </ul>
    </div>
    <span class="product_btn">
        <button v-bind:type="b" @click="pwrite">상품등록</button>
    </span>
</article>