@charset "UTF-8";
@import "./config.scss";
.ser_datas {
  @include sections(100%, auto, white);
  max-width: 1200px;
  min-height: 500px;
  padding: 80px 0;
  margin: 0 auto;
  & > p {
    @include sections(200px, 50px, none);
    @include font-sans(50px, #c3222b, center, bold, 25px);
    margin: 0 auto;
    border-bottom: 3px solid #c3222b;
  }
  & > label {
    @include sections(100%, 30px, none);
    @include font-sans(30px, unset, unset, unset, 13px);
    text-indent: 10px;
    border-bottom: 2px solid #ccc;
    margin: 30px 0;
  }
}
.no_ser_data {
  @include sections(100%, 300px, none);
  @include font-sans(300px, unset, center, bold, 16px);
}
.yes_ser_data {
  @include sections(100%, auto, none);
  @include flexs(wrap, row, space-between, space-between);
  padding: 50px 0;
  margin: 0 auto;
  & > .ser_box {
    @include sections(360px, 485px, none);
    & > .ser_pd_product {
      @include sections(100%, inherit, none);
      & > li {
        @include flexs(wrap, row, flex-start, flex-start);
        padding-left: 5px;
        cursor: pointer;
        &:nth-child(1) {
          height: 360px;
          position: relative;
          padding-left: 0;
          & > .ser_pd_product_hover {
            @include sections(100%, 80px, none);
            display: none;
            position: absolute;
            bottom: 0;
            & > li {
              @include sections(50%, inherit, rgba(0, 0, 0, 0.5));
              @include flexs(wrap, column, center, center);
              float: left;
              color: white;
              cursor: pointer;
              position: relative;
              &:nth-child(1) {
                border-right: 1px dashed #ccc;
              }
              & > img {
                @include sections(25px, auto, none);
              }
            }
          }
          &:hover .week_pd_product_hover {
            display: block;
          }
        }
        &:nth-child(2) {
          height: 35px;
          font-size: 14px;
          font-weight: bold;
          padding-top: 10px;
        }
        &:nth-child(5) {
          height: 25px;
          color: #c3222b;
          font-weight: bold;
        }
        &:nth-child(3) {
          height: 45px;
          color: #aaa;
        }
        &:nth-child(4) {
          height: 20px;
          color: #aaa;
        }
      }
    }
    &:hover {
      box-shadow: 3px 0 5px 1px rgba(0, 0, 0, 0.1);
    }
  }
}
