@import url("../css/font.css");
*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 100%;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: black;
}

ul, ol, dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

section, main, footer, aside, article, nav, header, label, span {
  display: block;
}

@-webkit-keyframes texts {
  from {
    word-spacing: -8px;
  }
  to {
    word-spacing: 20px;
  }
}

@keyframes texts {
  from {
    word-spacing: -8px;
  }
  to {
    word-spacing: 20px;
  }
}

.dark {
  width: 1200px;
  height: 780px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 50%;
  margin-left: -600px;
}

.dark > .start {
  width: 200px;
  height: 65px;
  display: block;
  font-weight: 800;
  font-size: 30px;
  color: burlywood;
  word-spacing: 5px;
  text-shadow: 4.3px 2.5px 1.4px black;
  background-color: maroon;
  -webkit-box-shadow: 2.5px 2.5px 10px 1.5px silver;
          box-shadow: 2.5px 2.5px 10px 1.5px silver;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.game_box {
  width: 1200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: maroon;
}

.game_box > p {
  width: auto;
  height: 100px;
  display: block;
  font-weight: 800;
  font-size: 30px;
  color: burlywood;
  line-height: 100px;
  text-shadow: 4.3px 2.5px 1.4px black;
  -webkit-animation: texts 3.5s infinite;
          animation: texts 3.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: 3s;
          animation-timing-function: 3s;
}

.game_box > .game_image {
  width: 100%;
  height: auto;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px;
  border: 5px solid burlywood;
  background-color: bisque;
}

.game_box > .game_image > span {
  width: 550px;
  height: auto;
  display: block;
  position: relative;
}

.game_box > .game_image > span > .aw {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
}

.game_box > .game_image > span > .aw:nth-of-type(1) {
  right: 90px;
  top: 110px;
}

.game_box > .game_image > span > .aw:nth-of-type(2) {
  right: 170px;
  top: 220px;
}

.game_box > .game_image > span > .aw:nth-of-type(3) {
  right: 130px;
  bottom: 60px;
}

.game_box > .game_image > span > .aw:nth-of-type(4) {
  left: 0px;
  top: 180px;
}

.game_box > .game_image > span > .aw:nth-of-type(5) {
  left: 20px;
  top: 282px;
}

.game_box > .game_image > .hand_count {
  width: 100px;
  height: 100px;
  display: block;
  background-color: rgba(204, 204, 204, 0.55);
  border: 3px solid burlywood;
  border-radius: 100%;
  position: absolute;
  right: 50px;
  top: 50px;
}

.game_box > .game_image > .hand_count > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.game_box > .game_image > .win {
  width: 450px;
  height: auto;
  display: none;
  font-weight: 700;
  font-size: 16px;
  color: #3f3223;
  padding: 50px;
  text-align: center;
  position: absolute;
  text-shadow: 2px 2px 1.5px white;
  background-color: burlywood;
  -webkit-box-shadow: 2.5px 2.5px 5.5px 1.5px silver;
          box-shadow: 2.5px 2.5px 5.5px 1.5px silver;
  border-radius: 15px;
  border: 5px solid bisque;
}

.game_box > .help_memo {
  width: 100%;
  height: 120px;
  display: block;
  font-weight: "";
  font-size: 13px;
  color: burlywood;
  padding: 10px;
  text-align: right;
}

.game_box > .help_memo > .color {
  display: inline-block;
  color: bisque;
  font-weight: 400;
}

.game_box > .gift {
  width: 100%;
  height: 500px;
  display: none;
  font-weight: "";
  font-size: 12px;
  color: black;
  border: 3px solid burlywood;
  background-color: white;
}

.game_box > .gift > form {
  width: 100%;
  height: auto;
  display: block;
}

.game_box > .gift > form > span {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
}

.game_box > .gift > form > span > label {
  width: 100%;
  height: 50px;
  display: block;
  line-height: 50px;
}

.game_box > .gift > form > span > label:nth-of-type(1) {
  background-color: burlywood;
  font-weight: "";
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.game_box > .gift > form > span > textarea {
  width: 85%;
  height: 130px;
  display: block;
  margin: 0 auto;
}

.game_box > .gift > form > table {
  width: 85%;
  height: auto;
  display: "";
  border: 2px solid rgba(222, 184, 135, 0.5);
  margin: 0 auto;
}

.game_box > .gift > form > table .nbsp {
  text-indent: 15px;
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(1) {
  width: 100%;
  height: 40px;
  display: "";
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(1) > td {
  width: 12%;
  height: inherit;
  display: "";
  line-height: 40px;
  float: left;
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(1) > td > input {
  width: 100%;
  height: 30px;
  display: inline-block;
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(1) > td:nth-of-type(4) {
  width: 64%;
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(1) > td:nth-of-type(4) > input {
  width: 27%;
  height: 30px;
  display: inline-block;
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(2) {
  width: 100%;
  height: 120px;
  display: "";
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(2) > td {
  width: 12%;
  height: inherit;
  display: "";
  line-height: 40px;
  float: left;
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(2) > td:nth-of-type(2) {
  width: 88%;
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(2) > td:nth-of-type(2) > input {
  width: 90%;
  height: 30px;
  display: block;
  margin-bottom: 5px;
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(2) > td:nth-of-type(2) > input:nth-of-type(1), .game_box > .gift > form > table > tbody > tr:nth-of-type(2) > td:nth-of-type(2) > input:nth-of-type(2) {
  width: 13.5%;
  display: inline-block;
}

.game_box > .gift > form > table > tbody > tr:nth-of-type(2) > td:nth-of-type(2) > input:nth-of-type(2) {
  font-weight: "";
  font-size: 13px;
  color: white;
  margin-left: 5px;
  background-color: #917859;
  border: none;
}

.game_box > .gift > form > .btn_gift {
  width: 180px;
  height: 45px;
  display: block;
  font-weight: "";
  font-size: 15px;
  color: white;
  margin: 0 auto;
  background-color: maroon;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=picture.css.map */